{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-5 container d-flex align-items-center justify-content-center">
        <form action="/create_page/" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="text" name="title" placeholder="Title">
            <textarea name="content" placeholder="Content"></textarea>
            <button type="submit">Create Page</button>
          </form>
    </div>
</div>
{% endblock %}